<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Monitoring</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Website Monitoring System</h1>
        <p>Graph of Uptime v/s Downtime</p>
    </header>
    <main>
        <div class="container">
            <img src="/static/images/graph.png" alt="Uptime vs Downtime Chart" style="max-width: 100%; height: auto;">
        </div>
    </main>
    <footer>
        <p>&copy; Graph made using Mathplotlib library</p>
    </footer>
</body>
</html>
