<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Monitoring</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Website Monitoring System</h1>
        <p>Monitoring website and making graphs.</p>
    </header>
    <main>
        
        <div class="grid-container">
            <div class="grid-item">
                <a href="info">
                    <img src="/static/images/infologo.png" alt="Information Logo">
                    <h2>Information</h2>
                </a>
            </div>
    
            <div class="grid-item">
                <a href="graph"> 
                    <img src="/static/images/charticon.png" alt="Chart Logo">
                    <h2>Chart</h2>
                </a>
            </div>

    </main>
    
    <footer>
        <p>&copy; Mini Project for SCOE, Done by Harsh Bhoite, Rushikesh, Yash. Hosted by Jasjit</p>
    </footer>

</body>
</html>
