<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Monitoring</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Website Monitoring System</h1>
        <p>Monitoring website and making graphs.</p>
    </header>

    <main>
        <section>
            <h2>Project Information</h2>
            <br>
            <h3>Languages used in this project:</h3>
            <p>Python, NodeJS, HTML, CSS</p>
            <br>
            <h3>Project Description:</h3>
            <p>We have created a test website which randomly goes down to simulate website downtime and record its downtime. A Python script is used to handle website downtime. Monitoring of the website is done in JavaScript with the help of MongoDB to store the status of the website. Data is logged on Google Spreadsheets which can be found <a href="https://docs.google.com/spreadsheets/d/1P19OTzxQH4fpWmISok11nCKfxX42AzFcBvIoY-MX73A/edit?usp=sharing" target="_blank">here</a>. <a href="http://jasjitbansia.ddns.net:7070/" target="_blank">This</a> is the test website which randomly goes down. Data from the spreadsheet is used to compute total monitoring time, uptime, and downtime, which is then used to make a graph on the website's uptime using the Mathplotlib library.</p>
            <br>
            <h3><strong>Link to GitHub Repos:</strong></h3>
            <p><strong>Front-End:</strong> <a href="https://github.com/FASTANDEXTREME/Website-Monitoring-Front-End" target="_blank">https://github.com/FASTANDEXTREME/Website-Monitoring-Front-End</a></p>
            <p><strong>Back-End:</strong> <a href="https://github.com/JasjitBansia/Website-Monitoring" target="_blank">https://github.com/JasjitBansia/Website-Monitoring</a></p>
        </section>
    </main>
</body>
</html>





